@import "tailwindcss";

:root {
  background-color: #09090b; /* zinc-950 */
  color: #fafafa; /* zinc-50 */
}


@theme {
  --font-anton: "Anton", sans-serif;
  --font-fugaz: "Fugaz One", cursive;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
  to {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.2s ease-out forwards;
}

.fade-out-down {
  animation: fadeOutDown 0.2s ease-in forwards;
}

@layer components {
  .button {
    @apply text-zinc-400 px-3 md:px-5 py-2 rounded-xl font-medium text-sm hover:text-white hover:bg-white/10 active:scale-95 transition-all cursor-pointer flex items-center justify-center;
  }
}